%div{:class => "log-messages #{'with-panel' if panel}"}
  - messages.each do |message|
    %div{:class => "#{message.type}"}
      %a{:href => "##{message.timestamp}", :class => 'timestamp', :id => "#{message.timestamp}"}>= Time.at(message.timestamp).strftime("#{'%Y-%m-%d ' if dates}%H:%M")
      \ 

      - if message.talk?
        &lt;
        %span.nickname>= message.nick
        &gt;

        = auto_link_urls(escape_html message.line)

      - else
        = message.line

      %br
