- now = Time.now.gmtime.strftime("%H:%M")

#log

  .talk
    %a.timestamp= now
    This is <a href="mailto:whitequark@whitequark.org">whitequark</a>'s IRC log viewer.

  .talk
    %a.timestamp= now
    The application works on Sinatra, and its source code is available on <a href="https://github.com/whitequark/irclogger">Github</a>.

  .talk
    %a.timestamp= now
    All timestamps are in UTC.

  .talk
    %a.timestamp= now
    You can select bookmarkable message ranges by holding Shift and clicking on timestamp.

  .talk
    %a.timestamp= now
    To switch between light and dark themes, use <a href="#" id="light_dark"></a>

  .talk
    %a.timestamp= now
    If you want for this logger to be present on a particular #{Config['server']} channel, drop a letter to <a href="mailto:whitequark@whitequark.org">whitequark</a>.

  .talk
    %a.timestamp= now
    This logger supports retrieving complete channel archives in text via <a href="http://lftp.yar.ru/">lftp</a>.
    Use <em>lftp -c 'mirror https://#{Config['domain']}/$CHANNEL/index/'.
