%section#log
  %aside#log_panel
    Found
    = @message_count
    results.

    - if @message_count > @limit
      %span.pagination
        Pages:
        - 1.upto(@message_count / @limit) do |page|
          - if page == (params[:page] || 1).to_i
            %span.current= page
          - else
            %a{:href => "/#{params[:channel]}/search?q=#{params[:q]}&page=#{page}"}= page

  = haml :_messages, locals: { :messages => @messages, :dates => true }

  - if @messages.nil? || @messages.empty?
    - if params[:q].length < 3
      Enter at least three letters as a keyword.
    - else
      No messages are found.
